<div class="image-container animated flipInY">
  <img src="dist/img/cottage.png" class="image-container animated flipInY" alt="">
</div>
<h2 class="span-logo">The Stone Cottage</h2>
<div class="button-container">
  <div class="top-button-container">
    <button class="buttonOne">The Knitting Gnome</button>
    <button class="buttonTwo">By The Hearth</button>
  </div>
<div class="bottom-button-container">
  <div>
    <button class="buttonThree">In The Herb Garden</button>
    <button class="buttonFour">Life at The Cottage</button>
  </div>
</div>
</div>