<!--this is the frameworks for the main page of the website, commented out to decern what is the new page.-->
<div class="image-container">
  <img src="http://placehold.it/350x350" class="image-container" alt="">
</div>
<h2 class="span-logo">The Stone Cottage</h2>
<div class="button-container">
  <div class="top-button-container">
    <button class="buttonOne animated fadeIn theknittinggnome" href="/theknittinggnome.html">The Knitting Gnome</button>
    <button class="buttonTwo animated fadeIn">By The Hearth</button>
  </div>
  <div class="bottom-button-container">
    <button class="buttonThree animated fadeIn">In The Herb Garden</button>
    <button class="buttonFour animated fadeIn">Life at The Cottage</button>
  </div>
</div>
<img class="bk-img" src="/dist/img/wm-6720.jpg" alt="">

<!--<img class="bk-img-herb" src="/dist/img/wm-8915.jpg" alt="">
<div>
  <h2 class="herbGardernText">The Herb Garden</h2>
</div>-->