<header>
  <div></div>
</header>
<!--this is the frameworks for the main page of the website, commented out to decern what is the new page.-->
<div class="image-container">
  <img src="http://placehold.it/350x350" class="image-container" alt="">
</div>
<h2 class="span-logo">The Stone Cottage</h2>
<div class="button-container">
  <div class="top-button-container">
    <button class="buttonOne animated fadeIn theknittinggnome">The Knitting Gnome</button>
    <button class="buttonTwo animated fadeIn">By The Hearth</button>
  </div>
  <div class="bottom-button-container">
    <button class="buttonThree animated fadeIn">In The Herb Garden</button>
    <button class="buttonFour animated fadeIn">Life at The Cottage</button>
  </div>
</div>
<img class="bk-img" src="/dist/img/wm-6720.jpg" alt="">

<div class="ipsumContainer">
  <i class="fa fa-exclamation-triangle fa-5x fa-spin"></i>
  <!-- start slipsum code -->

<h2>No, motherfucker</h2>
<p>Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb. </p>

<h2>I'm serious as a heart attack</h2>
<p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing. </p>

<!-- please do not remove this line -->

<div style="display:none;">
<a href="http://slipsum.com">lorem ipsum</a></div>

<!-- end slipsum code -->

</div>

<!--<img class="bk-img-herb" src="/dist/img/wm-8915.jpg" alt="">
<div>
  <h2 class="herbGardernText">The Herb Garden</h2>
</div>-->