<div class="image-container animated flipInY">
  <img src="dist/img/cottage.png" class="image-container animated flipInY" alt="">
</div>
<h2 class="span-logo">The Stone Cottage</h2>
<div class="button-container">
  <div class="top-button-container">
    <button class="buttonOne animated fadeIn" href="theknittinggnome">The Knitting Gnome</button>
    <button class="buttonTwo animated fadeIn">By The Hearth</button>
  </div>
  <div class="bottom-button-container">
    <button class="buttonThree animated fadeIn">In The Herb Garden</button>
    <button class="buttonFour animated fadeIn">Life at The Cottage</button>
  </div>
</div>
<img class="bk-img" src="/dist/img/wm-6720.jpg" alt="">