<header>
	<div class="cottage">
		<div class="line-left"> </div>
		<div class="name">
			<h2 class="curved">T<span>he </span>S<span>tone </span>C<span>ottage</span></h2>
		</div>
		<div class="line-right"> </div>
	</div>
</header>
<body>
	<a href="#" class="entry-link">Please come in</a>
</body>