<div class="image-container animated flipInY">
  <img src="dist/img/cottage.png" class="image-container animated flipInY" alt="">
</div>
<h2 class="span-logo">The Stone Cottage</h2>
<div class="button-container">
  <div class="top-button-container">
    <button class="buttonOne animated slideInLeft">The Knitting Gnome</button>
    <button class="buttonTwo animated slideInRight">By The Hearth</button>
  </div>
  <div class="bottom-button-container">
    <button class="buttonThree animated slideInLeft">In The Herb Garden</button>
    <button class="buttonFour animated slideInRight">Life at The Cottage</button>
  </div>
</div>