@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

body {
  font-family: $base-font-family;
  background-color: $base-background-color;
  color: $base-font-color;
  margin-left: 10%;
  margin-right: 10%;
}

.span-logo {
  text-align: center;
}
.image-container {
  display: inline-block;
  position: relative;
  width: 70%;
  margin-top: 15px;
  margin-left: 15%;
  margin-right: 10%;
  border-radius: 15px;
}

.image-container::after {
  content: "";
  display: block;
  position: absolute;
  margin-top: 15px;
  margin-left: 15%;
  margin-right: 10%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 70%;
  border-radius: 15px;
  background-color: rgba(250, 250, 250, .5);
}

.button-container {
  margin-left: 10%;
  margin-right: 10%;
}
.top-button-container {
  margin-bottom: 15px;
  width: 100%;
}
.buttonOne {
  width: 15%;
  background-color: RGBA(141, 233, 170, 1);
  width: 200px;
  height: 45px;
  border-radius: 25px;
  margin-left: 10%;
  margin-right: 5%;
}
.buttonTwo {
  width: 15%;
  margin-left: 5%;
  margin-right: 10%;
  width: 350px;
  height: 45px;
  background-color: RGBA(113, 234, 144, 1);
  animation-delay: 1s;
}
.buttonThree {
  background-color: RGBA(196, 233, 165, 1);
  animation-delay: 2s;
}
.buttonFour {
  animation-delay: 3s;
}